Source: crowdsec-custom-bouncer
Maintainer: Crowdsec Team <debian@crowdsec.net>
Build-Depends: debhelper, bash

Package: crowdsec-custom-bouncer
Provides: crowdsec-custom-bouncer
Description: Custom bouncer for Crowdsec
Architecture: any



